<!DOCTYPE html>
<html lang="en">
<head>
<%- include('layout/head')%>
</head>
<body>
    <header>
        <%- include('layout/header')%>
    </header>

    <main>
<% qoutesTen.forEach(element=>{%>
<div>
<h2><%= element.character %></h2>
<p><%= element.quote %></p>
<img src="<%=element.image%>">
<form action="/" method="post">
    <input type="hidden" value="<%=element.character%>">
    <input type="hidden" value="<%=element.quote%>">
    <input type="hidden" value="<%=element.image%>">
    <input type="hidden" value="<%=element.characterDirection%>">
<button id="favor_button" type="submit">Favor character</button>
</form>
</div>
    <%})%>
    </main>

    <footer>
        <%- include('layout/footer')%>
    </footer>
</body>
</html>